/*colors
   navy blue #0B3C5D
   yellow-orange #F7C331

/*fonts
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/

/* ABOUT ME  - all formats */
.about {
  background: rgb(189,189,189);
  background: linear-gradient(222deg, rgba(189,189,189,1) 5%, rgba(11,60,93,0.9934348739495799) 40%);
  vertical-align: middle;
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
}

.about-text, h1 {
  font-size: 25px;
  text-align: left;
  vertical-align: middle;
  margin: 20px auto;
  padding-left: 2em;
  letter-spacing: .25em;
  line-height: 1em;
}

.about-text, h2 {
  font-size: 17px;
  text-align: left;
  vertical-align: middle;
  margin: 20px auto;
  padding: 2em 3em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: .04em;
  line-height: 2em;
}

.lato-light {
  font-weight: 200;
}


.case-button {
	margin: 4em auto;
}

.connect-button a{
	letter-spacing: 2px;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 20px;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  text-decoration: none;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
  border-color: #F7C331;
	color: #FFFFFF;
}

.connect-button a:hover {
	color: #0B3C5D;
	font-weight: 700;
	border-color: #f7c231;
	background: #f7c231;
}

.connect-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

.self-photo {
  margin-left: 1em;
  display: inline-block;
  width: 70%;
  max-width: 300px;
  max-height: 300px;
  padding: 0 15px 10px 15px;
  float: right;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px)  {

/* ABOUT ME  - MOBILE */
  .about-text h1 {
    font-size: 20pt;
    margin: 20px auto;
    padding: 10px 10px;
  }

  .about-text, h2 {
    font-size: 12pt;
    margin: 20px auto;
    padding: 0;
    letter-spacing: .04em;
    line-height: 1.5em;
  }

  .self-photo {
    margin-left: .2em;
    display: block;
    width: 50%;
    padding: 0 0 0 15px !important;
  }

  .connect-button a{
  font-size: 12px;
  }

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max1199)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1199px) {

/* ABOUT ME  - TABLET */
  .about-text h1{
    font-size:28pt;
    margin: 20px auto;
    padding: 10px 10px;
  }

  .about-text h2 {
    font-size: 20pt;
    margin: 20px auto;
    padding: 10px 10px;
    letter-spacing: .04em;
    line-height: 1.5em;
  }

  .self-photo {
    width: 60%;
  }

  .connect-button a{
  font-size: 18pt;
  }

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1200px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

}
