/*colors
   navy blue #0B3C5D
   yellow-orange #F7C331

/*fonts
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/


h1 {
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: .04em;
  line-height: 1em;
  text-align: center;
  color: #000000;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: .04em;
  line-height: 1.3em;
  text-align: left;
  color: #000000;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .04em;
  line-height: 1.3em;
  text-align: left;
  color: #000000;
  margin-top: 2em;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .04em;
  line-height: 15px;
  text-align: left;
  color: #000000;
}

p {
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
  font-size: 18px;
  margin-bottom: 1em;
  text-align: left;
}

img {
  margin: 1.5em auto;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #F7C331;
  font-weight: 700;
}

br {
  line-height: 3em;
}

/* TOP-INTRO  - all formats */
.cs-container{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: center;
   position: relative;
   z-index: 1;
   background-color: #E0E0E0;
   max-width: 1400px;
  }

.top-contents-pic {
  max-width: 1400px;
  width: 100%;
  margin-top: 0;
}

.text-container {
  padding: 3em;
}

.text-container h1{
  margin-top: 0;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3.57%;
  line-height: 72px;
  font-color: #000000;
 }

 .text-container h2 {
   font-weight: 700;
   line-height: 42px;
   padding: 0 10%;
 }

 .small-text-container {
   display: flex;
   justify-content: space-between;
   margin: 0 30px 10px 30px;
   line-height: 32px;
 }

 .text1, .text2, .text3, p {
   font-family: "Lato", sans-serif;
   padding: 0 12px;
 }

/* CHALLENGE-SOLUTION  - all formats */
.challenge-solution {
  display: flex;
  justify-content: space-around;
  flex-direction: wrap;
  padding: 20px;
  margin: 20px;
}

.challenge-box, .solution-box {
  background-color: #E0E0E0;
  margin: 30px;
  padding: 25px;
  text-align: center;
  line-height: 32px;
}

.challenge-box, .solution-box, h2 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.challenge-box, .solution-box, p {
  font-weight: 400;
}

/* THE PROCESS  - all formats */

.click-link a{
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #F7C331;
  font-weight: 700;
  text-align: center;
}
.process {

}

.user-research img{
  width: 100%;
  height: 100%;
}

.competition img {
  width: 100%;
  height: 100%;
}

.personas img {
  width: 100%;
  height: 100%;
}

.workflows img {
  width: 100%;
  height: 100%;
}

.branding img {
  width: 100%;
  height: 100%;
}

.wire-mock {
}

.wire-mock .invision-links {
  display: flex;
}

.wire-mock-box {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
}

.wireframes-items .mockups-items img{
  width: 100%;
  height: 100%;
}

/* THE CONCLUSION  - all formats */


/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px)  {
  .text-container h1{
    font-size: 28px;
   }

  .text-container h2 {
    font-size: 11px;
    line-height: 20px;
   }

   .text1, .text2, .text3, p {
     font-family: "Lato", sans-serif;
     padding: 0 12px;
   }

   p {
     line-height: 16px;
     font-size: 9px;
   }

   .challenge-box, .solution-box, h2 {
     font-size: 24px;
   }

   .wire-mock-box {
     flex-direction: column;
     justify-content: center;
   }

   h1 {
     font-size: 30px;
   }

   h4 {
     font-size: 20px;
     line-height: 23px;
   }

   a {
     font-size: 16px;
   }

   .click-link a{
     font-size: 16px;
   }

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max1199)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  .text-container h1{
    font-size: 28px;
   }

  .text-container h2 {
    font-size: 11px;
    line-height: 20px;
   }

   .text1, .text2, .text3, p {
     font-family: "Lato", sans-serif;
     padding: 0 12px;
   }

   p {
     line-height: 16px;
     font-size: 9px;
   }

   .challenge-box, .solution-box, h2 {
     font-size: 24px;
   }

   .wire-mock-box {
     flex-direction: column;
     justify-content: center;
   }

   h1 {
     font-size: 30px;
   }

   h4 {
     font-size: 20px;
     line-height: 23px;
   }

   a {
     font-size: 16px;
   }

   .click-link a{
     font-size: 16px;
   }

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1200px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

}
