/*colors
   navy blue #0B3C5D
   yellow-orange #F7C331

/*fonts
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------------*/
/*--- CASE STUDIES - CSS-ALL FORMATS ---*/
/*--------------------------------------*/

h1, h3, h4, p{
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

h3 {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .02em;
	line-height: 2em;
  color: #0B3C5D;
  margin-top: 5em;
  text-align: left;
  font-style: normal;
 }


h4 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .04em;
  line-height: 1em;
  margin-top: 0;
  text-align: left;
}

p {
  line-height: 32px;
  font-size: 18px;
  margin-bottom: 1em;
  text-align: left;
}

br {
  line-height: 3em;
}

/* TOP-INTRO  - all formats */
.cs-container{
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   justify-content: left;
   position: relative;
   z-index: 1;
   background-color: #E0E0E0;
   max-width: 1400px;
  }

.top-contents-pic {
  max-width: 1400px;
  width: 100%;
  margin-top: 0;
}

.text-container {
  padding: 3em;
}

.text-container h1{
  margin-top: 0;
  font-size: 60px;
  letter-spacing: 3.57%;
  line-height: 72px;
  text-align: center;
 }

 .text-container h2 {
   color: #000000;
   font-size: 24px;
   font-weight: 700;
   line-height: 38px;
   padding: 0 10%;
   text-align: center;
   letter-spacing: .04em;
 }

 /*--SMALL HEADER TEXT-- all formats */
 .small-text-container {
   display: flex;
   justify-content: space-between;
   margin: 0 30px 10px 30px;
   line-height: 32px;
 }

 .text1 p, .text2 p, .text3 p {
   font-family: 'Lato', sans-serif;
   padding: 0 12px;
 }

/* CHALLENGE-SOLUTION  - all formats */
.challenge-solution {
  display: flex;
  justify-content: space-evenly;
  flex-direction: wrap;
  padding: 20px;
  margin: 20px;
}

.challenge-solution p {
  text-align: center;
}

.challenge-box, .solution-box {
  background-color: #E0E0E0;
  margin: 30px;
  padding: 25px;
  text-align: center;
  line-height: 32px;
}

.challenge-box h2, .solution-box h2 {
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .04em;
  line-height: 1.3em;
}

.challenge-box p, .solution-box p {
  font-weight: 400;
}

/* THE PROCESS - all formats */

.process h1 {
 font-size: 30px;
 margin-bottom: 1em;
 margin-top: 2em;
 color: #0B3C5D;
}

.section-header-wrapper {
  display: block;
  max-width: 700px;
  margin: 0px auto 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2086b4;
  text-align: center;
}

/* button  - all formats */
.click-link {
  margin: 3em auto;
}
.click-link a{
  font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 20px;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  text-decoration: none;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
  border-color: #0B3C5D;
	color: #0B3C5D;
}

.click-link a:hover {
	color: #0B3C5D;
	font-weight: 700;
	border-color: #f7c231;
	background: #f7c231;
}

.click-link:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


/* user research - all formats */
.user-research-results {
  display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
  /* margin: 0 8em; */
}

.user-research-results article{
  background-repeat: no-repeat;
  background-position: center;
  background: #E0E0E0;
  width: calc(25% - 4em);
  margin: 1em .5em;
  align-items: center;
  position: relative;
}

.result h3 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: .02em;
  text-align: center;
  margin-top: 1.5em;
}

.result p {
  padding: 0 2em;
  text-align: center;
  margin: 1em;
}

/* competitive analysis - all formats */
.competition-logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.competition-logos article{
  width: calc(30% - 4em);
  margin: 1em auto;
  align-items: center;
  position: relative;
}

.logos img {
  max-height: 100px;
  min-width: auto;
  text-align: center;
}

/* user personas - all formats */
.personas-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.personas-box article{
  width: calc(30% - 4em);
  margin: 1em auto;
  align-items: center;
  position: relative;
}

.persona br{
  line-height: .5em;
  padding: 30px;
}

.persona img {
  max-width: 100px;
  min-width: 75px;
  text-align: center;
}

.persona h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .04em;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #000000;
  text-align: center;
}

.persona p {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 1em;
  text-align: center;
}

/* user stories/workflows - all formats */
.wireframe-comparison {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.wireframe-comparison article {
  width: calc(50% - 4em);
  margin: 1em auto;
  align-items: center;
  position: relative;
}

.wireframe img{
  max-width: 500px;
  min-width: 250px;
  text-align: center;
}


.button-links {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.button-links article {
    text-align: center;
  margin: auto;
}

/* branding */
.branding img {
  width: 100%;
  height: 100%;
  margin: 1.5em auto;
}

/* wireframing/mockups - all formats */
.wireframe-comparison {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.wireframe-comparison article {
  width: calc(50% - 4em);
  margin: 1em auto;
  align-items: center;
  position: relative;
}

.wireframe img{
  max-width: 500px;
  min-width: 250px;
  text-align: center;
}


.button-links {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.button-links article {
    text-align: center;
  margin: auto;
}

/* prototypes - all formats */

/* THE CONCLUSION  - all formats */
.conclusion h1 {

}
/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px)  {

  h3 {
  	line-height: 1em;
    margin-top: 2em;
   }

  h4 {
    font-size: 18px;
    line-height: 24px;
  }

  p {
    line-height: 24px;
    font-size: 16px;
  }

/* TOP-INTRO  - mobile */
  .cs-container {
    margin-top: 1em;
  }

  .text-container {
    padding: 1em;
  }

  .text-container h1{
    font-size: 28px;
    line-height: 50px;
   }

  .text-container h2 {
    font-size: 16px;
    line-height: 20px;
    padding: 0 2%;
   }

/*--small header text - mobile */
   .small-text-container {
     flex-direction: column;
   }

   .text1 p, .text2 p, .text3 p {
     font-family: "Lato", sans-serif;
     padding: 0;
     font-size: 16px;
     line-height: 20px;
     text-align: center;
   }

   .text1 br, .text2 br, .text3 br {
     line-height: 1.5em;
   }

/* CHALLENGE-SOLUTION  - mobile */
   .challenge-solution {
     flex-direction: column;
     justify-content: left;
     margin: 3em auto;
     padding: 0;
   }

   .challenge-box, .solution-box {
     margin: 10px auto;
     padding: 5px;
   }

   .challenge-box h2, .solution-box h2 {
     font-size: 24px;
   }

   .challenge-box p, .solution-box p {
     font-size: 16px;
     line-height: 24px;
     margin-bottom: .5em;
     padding: 5px;
   }

/* THE PROCESS  - mobile */
    .process h1 {
     font-size: 26px;
     margin-bottom: 1.5em;
     margin-top: 1.5em;
    }

/* button - mobile */
   .click-link a{
     font-size: 16px;
   }

/* user research - mobile */
.user-research-results {
flex-direction: column;
}

.user-research-results article{
width: calc(100% - 4em);
margin: 1em 2em;
}

.result h3 {
font-size: 20px;
margin-top: .75em;
line-height: 1em;
}

.result p {
line-height: 20px;
}

.click-link {
margin-bottom: 4em;
}

/* competitive analysis - mobile */
.competition-logos article{
width: calc(33% - 4em);
}

.logos img {
max-height: 65px;
}

/* user personas - mobile */
.personas-box article{
width: calc(100% - 4em);
margin: .5em auto;
}

.persona h3 {
letter-spacing: .03em;
line-height: 15px;
font-size: 15px;
margin-bottom: .3em;
margin-top: .5em;
}

.persona p {
line-height: 15px;
font-size: 15px;
margin-bottom: .75em;
}




/* user stories/workflows - mobile */

/* branding - mobile */

/* wireframes/mockups - mobile */
.wireframe-comparison {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.wireframe-comparison article {
  width: calc(50% - 4em);
  margin: 1em auto;
  align-items: center;
  position: relative;
}

.wireframe img{
  max-width: 500px;
  min-width: 250px;
  text-align: center;
}

.button-links {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.button-links article {
    text-align: center;
  margin: auto;
}

/* prototypes - mobile* /

/* THE CONCLUSION  - mobile */

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max999)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 999px) {

  h1 {
    font-size: 30px;
  }

  h3 {

   }

  h4 {
    font-size: 20px;
    line-height: 23px;
  }

  a {
    font-size: 16px;
  }

  p {
    line-height: 24px;
    font-size: 16px;
  }

/* TOP-INTRO  - tablet */
  .text-container h1{
    font-size: 28px;
   }

  .text-container h2 {
    font-size: 14px;
    line-height: 20px;
   }

/*--small header text - tablet */
   .text1 p, .text2 p, .text3 p {
     font-family: "Lato", sans-serif;
     padding: 0 12px;
   }

/* CHALLENGE-SOLUTION  - tablet */
   .challenge-box h2, .solution-box h2 {
     font-size: 24px;
   }

/* THE PROCESS  - tablet */

/* button - tablet */
   .click-link a {
     font-size: 16px;
   }

/* user research - tablet */
.user-research-results article{
width: calc(100% - 4em);
margin: 1em 2em;
}

.result h3 {
font-size: 20px;
margin-top: .75em;
line-height: 1em;
}

.result p {
line-height: 20px;
}


/* competitive analysis - tablet */

/* user personas - tablet */

/* user stories/workflows - tablet */

/* branding - tablet */

/* wireframes/mockups - tablet */
   .wire-mock-box {
     flex-direction: column;
     justify-content: center;
   }

/* prototypes - tablet * /

/* THE CONCLUSION  - tablet */

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1000px)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 1000px) {

}
