/*colors
   navy blue #0B3C5D
   yellow-orange #F7C331

/*fonts
    font-family: 'Lato', sans-serif;
]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/


h1 {
  letter-spacing: .25em;
  line-height: 1em;
}

h2 {
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: .04em;
  line-height: 1.3em;
  text-align: left;
}

/* ABOUT ME  - all formats */
.about {
  background: rgb(189,189,189);
  background: linear-gradient(222deg, rgba(189,189,189,1) 5%, rgba(11,60,93,0.9934348739495799) 40%);
  vertical-align: middle;
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1em;
  padding-bottom: 3em;
}

.about-text, h1 {
  text-align: left;
  vertical-align: middle;
  margin: 20px auto;
  padding: 1em 30px 10px;
}

.about-text, h2 {
  text-align: left;
  vertical-align: middle;
  margin: 20px auto;
  padding: 1em 30px 10px;
}

.lato-light {
  font-weight: 200;
}

.connect-button a{
  font-size: 22pt;
  font-weight: 700;
  padding: 10px 15px;
  height: 60px;
  width: 200px;
  margin: 20px auto;
  background: #F7C331;
  text-decoration: none;
  color: #0B3C5D;
}

.connect-buttom a:hover {
  color: #FFFFFF;
  text-align: center;
}

.self-photo {
  display: inline-block;
  width: 80%;
  max-width: 391px;
  max-height: 361px;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px)  {

  /* ABOUT ME  - max600 */

  .about-text h1 {
    font-size: 20pt;
    margin: 20px auto;
    padding: 10px 10px;
  }

  .about-text h2 {
    font-size: 14pt;
    margin: 20px auto;
    padding: 10px 10px;
  }

  .self-photo {
    display: block;
    width: 50%;
  }

  .connect-button a{
  font-size: 16pt;
  }

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max1199)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  /* ABOUT ME  - max1199 */
  .about-text h1{
    font-size:28pt;
    margin: 20px auto;
    padding: 10px 10px;
  }

  .about-text h2 {
    font-size: 20pt;
    margin: 20px auto;
    padding: 10px 10px;
  }

  .self-photo {
    width: 60%;
  }

  .connect-button a{
  font-size: 18pt;
  }

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1200px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

}
