/*colors
   navy blue #0B3C5D
   yellow-orange #F7C331

/*fonts
    font-family: 'Lato', sans-serif;
]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/


/* CONTACT ME  - all formats */
.contact-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #0B3C5D;
}

.form-container {
  margin: 50px 0px;
  padding: 20px;
}

.contact-form h1 {
  text-align: left;
  vertical-align: middle;
  padding: 1em 30px 10px;
  text-align: center;
  letter-spacing: .25em;
  line-height: 1em;
}

.contact-form h2 {
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: .04em;
  line-height: 1.5em;
}

.contact-form a {
  color: #F7C331;
  font-weight: 300;
}

.lato-light {
  font-weight: 200;
}

.contact-form input {
  font-family: "pragmatica-web",sans-serif;
      font-size: 1em;
      border-radius: 0px;
      margin-bottom: 30px;
      padding-bottom: 5px;
      width: 100%;
      border: none;
      border-bottom: 1px solid gray;
      transition: border-bottom 0.1s ease-in;
}

.contact-form textarea {
    font-family: "pragmatica-web",sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 30px;
    height: 200px;
  }

/* input, textarea {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #eeeeee;
  border: 1px solid #0B3C5D;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
} */

textarea {
  overflow: auto;
  vertical-align: top;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

.contact-form button{
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 20px;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  text-decoration: none;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #F7C331;
  color: #FFFFFF;
}

.contact-form > button:hover {
  color: #0B3C5D;
  font-weight: 700;
  border-color: #F7C231;
  background: #F7C231;
}

.contact-form button:active {
   border-top-color: #1B435E;
   background: #1B435E;
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 600px) {

  .section-header, h1 {
    font-size: 22pt;
  }

  .section-header, h2 {
    font-size: 12pt;
    letter-spacing: .02em;
  }

  .section-header a {
    font-size: 12pt;
  }
  .connect-button a{
  font-size: 12px;
  }
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max1199)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 1199px) {

  .section-header, h1 {
    font-size: 24pt;
  }

  .section-header, h2 {
    font-size: 14pt;
  }

  .contact-form {
      width: 60%;
  }

  .connect-button a{
  font-size: 18pt;
  }

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1200px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {

}
