/*colors
   navy blue #0B3C5D
   yellow-orange #F7C331

/*fonts
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;

]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/

.wrapper {
	/* display: flex; */
	flex-flow: row wrap;
 }

	/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {flex: 1 100%;}

body {
	margin: auto;
	padding: 20px;
	text-align: center;
 }

a {
	color: #FFFFFF;
	font-family: 'Lato';
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
 }

h1 {
	color: #FFFFFF;
	font-family: 'Lato';
	font-size: 34px;
	font-weight: 700;
	line-height: 0;
 }

h2 {
	color: #FFFFFF;
	font-family: 'Lato';
	font-size: 22px;
	font-weight: 400;
 }

h3 {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: .04em;
	line-height: 1.5em;
 }

p {
	color: #0B3C5D;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-align: center;
 }

/* container - all formats */
.container {
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HEADER/NAVBAR - all formats */
.navbar-links {
	align-items: center;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
 }

.navbar-links .logo {
	padding-left: 20px;
	max-width: 90px;
	min-width: 75px;
	padding: 20px 0 20px 20px;
}

.navbar-links li:first-child {
	align-self: flex-start;
	list-style: none;
	margin-right: auto;
	text-decoration: none;
	flex: 0 0 150px; 
 }

.navbar-links > li > a {
		font-size: 16px;
    padding-right: 30px;
    color: #0B3C5D;
	}

.navbar-links a:hover {
	color: #F7C331;
	text-decoration: underline #F7C331;
 }


 /* HERO  - all formats */
 .hero {
 	background-image: url(../assets/treephoto-bw.png);
 	background-position: top center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	display: flex;
 	flex: 1 100%;
 	height: 450px;
 	margin-bottom: 4em;
  }

 .hero-contents {
 	align-items: center;
 	background-color: rgba(10, 60, 93, 0.40);
 	background-size: cover;
 	display: flex;
 	height: 450px;
 	justify-content: space-around;
 	margin: auto;
 	width: 100%;
  }

.name-block {
	align-self: center;
}

.name-block h1 {
	letter-spacing: .25em;
}

.name-block h2 {
	letter-spacing: .07em;
}

.lato-light {font-weight: 300;}


/* CASE STUDIES - all formats */
.projects {
	align-items: left;
	background-repeat: no-repeat;
	background-position: center;
	background: linear-gradient(126deg, rgba(189,189,189,1) 5%, rgba(11,60,93,0.9934348739495799) 40%);
	display: flex;
	justify-content: space-evenly;
	margin-top: 1em;
	padding: 2em 0em;
 }

.project-pic {
	align-self: center;
	width: 50%;
}

.project-text {
	align-self: center;
	width: 50%;
}

.project-text h1 {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: .04em;
	line-height: 1.25em;
 }

.project-text h2 {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .04em;
	line-height: 1em;
 }

.project-text h3 {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .04em;
	line-height: 1.5em;
 }

.case-studies .case-button a{
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  background: #F7C331;
  text-decoration: none;
  color: #0B3C5D;
}

.case-button a:hover {
  color: #FFFFFF;
}

/* CONTACT - all formats */
.contact {
  display: flex;
  background: #E0E0E0;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 4em auto 0;
}

.contact-text {
	color: #0B3C5D;
  align-self: center;
  margin: auto;
  width: 100%;
  padding: 6em;
	letter-spacing: .01em;
}

.contact-text h1 {
	color: #0B3C5D;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: .04em;
  line-height: 1em;
}

.contact-text h2 {
	color: #0B3C5D;
	font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .04em;
  line-height: 1.57em;
  padding: 0 2em;
}

.contact-text .case-button a{
  font-size: 20px;
  font-weight: 700;
  padding: 10px 15px;
  height: 60px;
  width: 200px;
  margin: 20px auto;
  background: #F7C331;
  text-decoration: none;
  color: #0B3C5D;
}

.contact a:hover {
  color: #FFFFFF;
}

/* FOOTER- all formats */
 footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 1em;
 }

 .footer-content1 p{
 	 list-style: none;
   margin-right: auto;
   font-weight: 300;
 }

 .footer-content2 img{
   align-self: center;
   max-width: 130px;
   width: 100%;
 	 padding-left: 3em;
 	 text-decoration: none;
 }

  .footer-content a:hover {
  	color: #F7C331;
  	text-decoration: underline #F7C331;
  }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 600px) {

  /* HEADER/NAVBAR - max600 */
  .navbar-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

	.navbar-links .logo {
		max-width: 70px;
		min-width: 75px;
		padding-bottom: 20px;
	}

  .navbar-links li:first-child {
    align-self: center;
    flex: 1 0 100%;
  }

	.navbar-links > li > a {
			font-size: 14px;
	    padding: 8px 20px;
		}

  .navbar-links img{
    align-self: center;
  }

  /* HERO  - max600 */

	.hero {
		margin-top: 10px;
	}
  .name-block h1{
    font-size: 32px;
  }

  .name-block h2 {
    font-size: 26px;
  }

  .name-block h3 {
    font-size: 16px;
  }

  /* CASE STUDIES - max600 */
  .projects {
    padding: 1em 0 3em 0;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 1 20em;
  }

	.project-pic, .jeannies-pic, .keeparoo-pic, .crave-pic {
    width: 90%;
		padding: 0;
  }

	 .project-text {
		line-height: 1.25em;
		width: 80%;
  }

  .project-text h1 {
    font-size: 22px;
		line-height: 1.25em;
  }

  .project-text h2 {
		line-height: 1.25em;
    font-size: 18px;
  }

  .project-text h3 {
		line-height: 1.25em;
    font-size: 16px;
  }

  .case-studies .case-button a{
    font-size: 14px;
  }

  /* CONTACT - max600 */
  .contact-text {
    padding: 2em;
  }

  .contact-text h1 {
    font-size: 22px;
    line-height: 1.25em;
  }

  .contact-text h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25em;
    padding: 0;
  }

  .contact-text .case-button a{
    font-size: 14px;
  }

  /* FOOTER - max600 */
  footer {
    flex-wrap: wrap;
    justify-content: space-evenly;

  }

  .footer-content1 p {
  font-size: 14px;
  }

  .footer-content2 img{
  max-width: 100px;
  padding: 1em;
  }
}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max999)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 999px) {

  /* HEADER/NAVBAR - max1199 */

	.navbar-links .logo {
		max-width: 80px;
		min-width: 80px;
	}


  /* HERO  - max 999 */
  .name-block .container{
  }

  .name-block h1{
    font-size: 32px;
  }

  .name-block h2 {
    font-size: 24px;
  }

  .name-block h3 {
    font-size: 18px;
  }

  /* CASE STUDIES - max 999 */
  .projects {
    padding: 1em 0 3em 0;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }

	.project-text {
		padding: 0;
	}

  .project-text h1 {
    font-size: 18px;
  }

  .project-text h2 {
    font-size: 16px;
  }

  .project-text h3 {
    font-size: 14px;
  }

  .project-pic .jeannies-pic, .keeparoo-pic, .crave-pic {
    width: 90%;
		padding: 0;
  }

  .case-studies .case-button a{
    font-size: 18px;
  }

  /* CONTACT - max 999 */
  .contact-text {
    padding: 4em;
  }

  .contact-text h1 {
    font-size: 22px;
    line-height: 1.5em;
  }

  .contact-text h2 {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
    padding: 0;
  }

  .contact-text .case-button a{
    font-size: 18px;
  }

  /* FOOTER - max 999 */
  .footer-content1 p {
    font-size: 14px;
  }

  .footer-content2 img{
    max-width: 60px;
    padding-left: .75em;
  }
}
Í
/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1000px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1000px) {


  /* HEADER/NAVBAR - min1200 */

  /* PROJECTS - min 1200 */


  /* FOOTER - min 1200 */

}
