/*colors
   navy blue #0B3C5D
   yellow-orange #F7C331

/*fonts
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;

]
/* 3 @MEDIA QUERIES - MOBILE, TABLET, DESKTOP */

/*--------------------------------*/
/*--- GENERAL CSS-ALL FORMATS ---*/
/*--------------------------------*/

/* .wrapper { */
	/* display: flex; */
	/* flex-flow: row wrap; */
 /* } */

	/* We tell all items to be 100% width, via flex-basis */
/* .wrapper > * {flex: 1 100%;} */

body {
	margin: auto;
	text-align: center;
 }

a {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
 }

h1 {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 0;
	letter-spacing: .04em;
 }

h2 {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	font-weight: 400;
 }

h3 {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: .04em;
	line-height: 1.5em;
 }

p {
	color: #0B3C5D;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-align: center;
 }

/* container - all formats */
.container {
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*================================= NAVBAR ==========================*/

.navbar-default .navbar-brand img{
	padding: 10px 20px;
	max-height: 100px;
}

.navbar-brand {
	height: auto;
	padding: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0B3C5D;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #313131;
}

.navbar-fixed-top .navbar-toggle{
	border-color: #313131;
}

.navbar-default {
  background-color: #FFFFFF;
  border-color: transparent;
  padding-top: 5px;
	margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a{
	color: #0B3C5D;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.navbar-default .navbar-toggle{
	border-radius: 0px;
	margin-right: 0px;
}

.navbar-default .navbar-nav>li>a:hover{
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: #0B3C5D;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #0B3C5D;
}

.navbar-nav>li>a {
  padding-top: 40px;
  padding-bottom: 8px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #0B3C5D;
}

/*================================= HERO ==========================*/

 /* HERO  - all formats */
 .hero {
	 background-image: url(../assets/treephoto-bw.png);
	 background-position: top center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 display: flex;
	 flex: 1 100%;
	 height: 450px;
	 margin-bottom: 4em;
  }

 .hero-contents {
 	align-items: center;
 	background-color: rgba(10, 60, 93, 0.40);
 	background-size: cover;
 	display: flex;
 	height: 450px;
 	justify-content: space-around;
 	margin: auto;
 	width: 100%;
  }

.name-block {
	align-self: center;
}

.name-block h1 {
	letter-spacing: .25em;
}

.name-block h2 {
	letter-spacing: .07em;
}

.lato-light {
	font-weight: 300;
}

/* projects-case studies - all formats */
.header-container h1 {
	color: #000000;
	font-weight: 400;
	position: relative;
  width: 100%;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  cursor: default;
  text-transform: none;
  margin: 2em auto .5em;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
 }

 .projects article {
	background-repeat: no-repeat;
 	background-position: center;
	background: #0B3C5D;
	width: calc(32% - .5em);
	min-height: 40em;
	position: relative;
	margin-bottom: auto;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
 }

.project-pic img{
	/* width: 70%; */
	max-width: 250px;
	max-height: 250px;
	align-self: center;
	margin: 1.5em auto 1em;
}

.project-text {
	padding: 0;
	/* width: 50%; */
}

.project-text h1 {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: .08px;
	line-height: 2em;
 }

.project-text h2 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .08em;
	line-height: 2em;
 }

.project-text h3 {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .08em;
	line-height: 2em;
 }

.case-button {
	margin: 4em auto;
}

.case-button a{
	letter-spacing: 2px;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 20px;
  height: 50px;
  width: 150px;
  margin: 20px auto;
  text-decoration: none;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
  border-color: #FFFFFF;
	color: #FFFFFF;
}

.case-button a:hover {
	color: #0B3C5D;
	font-weight: 700;
	border-color: #f7c231;
	background: #f7c231;
}

.case-button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

/* CONTACT - all formats */
.contact {
  display: flex;
  background: #E0E0E0;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 6em auto 0;
}

.contact-text {
	color: #0B3C5D;
  align-self: center;
  margin: auto;
  width: 100%;
  padding: 6em;
	letter-spacing: .01em;
}

.contact-text h1 {
	color: #0B3C5D;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: .04em;
  line-height: 1em;
}

.contact-text h2 {
	color: #0B3C5D;
	font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .04em;
  line-height: 1.57em;
  padding: 0 2em;
}

.contact-text .case-button {
	margin: 1em auto;
}

.contact-text .case-button a{
	font-weight: 700;
  background: #F7C331;
  color: #0B3C5D;
	border: 1px solid #0B3C5D;
}

.contact a:hover {
	border-color: #0B3C5D;
	background: #0B3C5D;
  color: #FFFFFF;
	font-weight: 700;
}

/* FOOTER- all formats */

 .footer .footer-container {
   display: flex;
   padding-top: 3em;
	 justify-content: space-between;
	 background-color: #F2F2F2;
 }

.copyright-info {
	align-self: flex-start;
}

 .copyright-info p{
	 font-size: 12px;
 	 list-style: none;
   font-weight: 300;
	 padding: 10px 30px;
	 margin: 0;
 }

.social-bar {
	padding: 10px;
	padding-right: 30px;
}

.social-bar .fa-lg {
	align-self: flex-end;
	font-size: 1.8em;
	padding-left: 1em;
}

 .social-bar a {
   align-self: center;
 	 padding-left: 1em;
 	 text-decoration: none;
	 color: #0B3C5D;
 }

 .social-bar a:hover {
	 color: #F7C331;
	 text-decoration: underline #F7C331;
  }

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-iPHONES/OTHER MOBILES (min320/max600)
/*-----------------------------------------------------------------------------------*/

@media (max-width: 600px) {

/* HEADER/NAVBAR - MOBILE */
	.navbar-default .navbar-brand img{
		padding: 10px 20px;
		max-height: 80px;
	}

	.container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-default .navbar-toggle {
		border-color: transparent;
	}

	.nav>li{
		text-align: center;
	}

	.navbar-default .navbar-brand{
		margin-left: 15px;
	}

	.navbar-links {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: space-evenly;
	}

	.navbar-default .navbar-brand{
		margin-left: 15px;
	}

	.navbar-links .logo {
		max-width: 70px;
		min-width: 50px;
		padding: 5px 0 20px 0;
	}

  .navbar-links li:first-child {
    align-self: center;
    flex: 1 0 100%;
  }

	.navbar-links > li > a {
		font-size: 14px;
	  padding: 8px 15px;
		text-align: center;
	}

  .navbar-links img{
    align-self: center;
  }

/* HERO  - MOBILE */
	.hero {
		margin-top: 10px;
	}

  .name-block h1{
    font-size: 32px;
  }

  .name-block h2 {
    font-size: 26px;
  }

  .name-block h3 {
    font-size: 16px;
  }

/* CASE STUDIES - MOBILE */

	.projects article {
		width: calc(100% - .5em);
		min-height: 22em;
  }

	.project-pic img{
		padding: 0;
  }

	 .project-text {
		line-height: 1.25em;
  }

  .project-text h1 {
    font-size: 18px;
		line-height: 1.25em;
  }

  .project-text h2 {
		line-height: 1.25em;
    font-size: 16px;
  }

  .project-text h3 {

		line-height: 1.5em;
    font-size: 14px;
  }

	.case-button {
		margin: 3em auto;
	}

  .case-studies .case-button a{
    font-size: 14px;
  }

/* CONTACT - MOBILE */
	.contact {
		margin: 1em auto 0;
	}

  .contact-text {
    padding: 2em;
  }

  .contact-text h1 {
    font-size: 22px;
    line-height: 1.25em;
  }

  .contact-text h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25em;
    padding: 0;
  }

  .contact-text .case-button a{
    font-size: 14px;
  }

/* FOOTER - MOBILE */

	.footer .footer-container {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.copyright-info {
		align-self: flex-start;
	}

	.copyright-info p{
		list-style: none;
		font-weight: 300;
		padding: 10px 20px;
	}

	.social-bar .fa-lg {
		align-self: flex-end;
		font-size: 1.8em;
		padding: 10px;
	}

	.social-bar a {
		align-self: center;
		text-decoration: none;
		color: #0B3C5D;
	}
	.social-bar a:hover {
	 	color: #F7C331;
	 	text-decoration: underline #F7C331;
	}

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-IPADS/TABLETS (min601/max999)
/*-----------------------------------------------------------------------------------*/
@media only screen and (min-width: 601px) and (max-width: 999px) {

/* HEADER/NAVBAR - TABLET */
	.navbar-links .logo {
		max-width: 80px;
		min-width: 80px;
	}

/* HERO  - TABLET */
  .name-block .container{
  }

  .name-block h1{
    font-size: 32px;
  }

  .name-block h2 {
    font-size: 24px;
  }

  .name-block h3 {
    font-size: 18px;
  }

/* CASE STUDIES - TABLET */
.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  padding: 1em 0 3em 0;
  align-items: center;
  flex: 0 1 20em;
  }

	.projects article {
	width: calc(33% - .5em);
	min-height: 24em;
	padding: 10px;
  }

	.project-pic img{
    width: 95%;
		padding: 0;
		margin-bottom: 1em;
  }

	 .project-text {
		line-height: 1.25em;
		/* width: 80%; */
  }

  .project-text h1 {
    font-size: 16px;
		line-height: 1.25em;
		letter-spacing: 1px;
		margin-top: 0;
		margin: 2em auto;
  }

  .project-text h2 {
		line-height: 1.25em;
    font-size: 14px;
		margin-top: 0;
		margin-bottom: 1em;
  }

  .project-text h3 {
		line-height: 1.5em;
    font-size: 14px;
		margin-bottom: 3em;
  }

	.case-button {
		margin: 3em auto;
	}

  .case-studies .case-button a{
    font-size: 14px;
  }

/* CONTACT - TABLET */
.contact {
	margin: 1em auto 0;
}

  .contact-text {
    padding: 4em;
  }

  .contact-text h1 {
    font-size: 22px;
    line-height: 1.5em;
  }

  .contact-text h2 {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
    padding: 0;
  }

  .contact-text .case-button a{
    font-size: 18px;
  }

/* FOOTER - TABLET */

	.footer .footer-container {

	}

	.copyright-info p{
		list-style: none;
		font-size: 14px;
		font-weight: 300;
	}

	.social-bar .fa-lg {
	 	font-size: 1em;
		padding: 0 1em;
	}

}

/*-----------------------------------------------------------------------------------*/
/* RESPONSIVE-LAPTOPS/DESKTOPS (min1000px)
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1000px) {


/* HEADER/NAVBAR - DESKTOP */

/* PROJECTS - DESKTOP */


/* FOOTER - DESKTOP */

}

/*hero content*/
@media (min-width:1071px) {
@media (max-width:1070px) and (min-width:671px){
@media (max-width:670px) {


@media (max-width:1024px) {
@media (min-width:601px) {
@media (max-width:600px) {


@media (min-width:1025px) {
@media (max-width:760px) {
@media (max-width:540px) {
